doctype xml
feed(xmlns="http://www.w3.org/2005/Atom")
    title= feed.title
    id= 'hhhh'
    -var upd = new Date(parseInt(feed.entries[0].updated * 1000)).toISOString();
    updated=upd
    each entry in feed.entries
        include entry
